<html ng-app="codeBuddy">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body>
    <div ng-controller="PersonController">
      <label>Name: <input type="text" ng-model="name"/></label>
      <label>Activity:</label>
      <div ng-init="events = [
        {action:'Push'},
        {action:'Pull'}
      ]">
      <ul ng-repeat="event in events">
        <li>{{ event.action }}</li>
      </ul>
      </div>
    </div>
  </body>
</html>
